New property opportunity:
{{ address }}
{{ city }}, {{ state }} {{ zip_code }}
Price: {{ price }}
{{ beds }} Bed / {{ baths }} Bath
{{ sqft }} sq ft
This appears to match your current {{ profile_name }} criteria.
Interested?
YES
NO
MORE INFO
